# Ignore node_modules folder
node_modules

# Ignore all text files
*.txt

# Ignore files related to API keys
.env

# Ignore SASS config files
.sass-cache

.BasicInfo

.scrapy

.mydriver
tripadv/Analysis.ipynb
tripadv/Analysis.ipynb
tripadv/Analysis_to_be_Copied.ipynb
.ipynb_checkpoints/Analysis-checkpoint.ipynb
FromSlides.py
.ipynb_checkpoints/Untitled-checkpoint.ipynb
tripadv/.ipynb_checkpoints/1_Combine_CSVs-checkpoint.ipynb
tripadv/.ipynb_checkpoints/2_Analysis_Boston-checkpoint.ipynb
tripadv/.ipynb_checkpoints/2_Analysis_Chicago-checkpoint.ipynb
tripadv/.ipynb_checkpoints/2_Analysis_LosAngeles-checkpoint.ipynb
tripadv/.ipynb_checkpoints/2_Analysis_NewYork-checkpoint.ipynb
tripadv/.ipynb_checkpoints/Analysis_Helpful_Reviews_Boston-checkpoint.ipynb
tripadv/Analysis.ipynb
tripadv/Analysis_to_be_Copied.ipynb
tripadv/debug.log
tripadv/tripadv/__pycache__/items.cpython-37.pyc
tripadv/tripadv/__pycache__/pipelines.cpython-37.pyc
tripadv/tripadv/__pycache__/settings.cpython-37.pyc
tripadv/tripadv/__pycache__/items.cpython-37.pyc
tripadv/tripadv/__pycache__/items.cpython-37.pyc
*.pyc

tripadv/Untitled.ipynb
tripadv/Analysis.ipynb

tripadv/Untitled.ipynb

tripadv/tripadv/settings.py
tripadv/tripadv/pipelines.py
tripadv/tripadv/middlewares.py
tripadv/tripadv/items.py
tripadv/tripadv/__init__.py